/* Styling here */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 960px; /* 1140px, 1170px */
    margin: 0 auto;
    /* background-color: yellow; */
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

nav {
    height: 60px;
    background-color: #333;
    border-bottom: 2px solid #ccc;
}

nav .logo {
    float: left;
}

nav .logo h1 {
    margin-top: 15px;
    color: #fff
}

nav ul.menu {
    float: right;
    list-style: none;
}

nav ul.menu li {
    float: left;
    padding: 20px;
}

nav ul.menu li:hover {
    background-color: #000;
}

nav ul.menu li a {
    text-decoration: none;
    color: #fff;
}

/* End nav styling */

#about {
    height: 420px;
    overflow: hidden;
}

.about-info {
    margin-top: 20px;
    padding: 20px;
    overflow: hidden;
}

.about-info-left {
    float: left;
}

.about-info-left img {
    width: 500px;
}

.about-info-right {
    float: left;
    width: 380px;
    margin-left: 20px;
}

.about-info-right p {
    margin: 10px 0px;
}

.about-info-right a {
    margin-top: 10px;
    padding: 10px 20px;
    border: 2px solid black;
    display: inline-block;
    text-decoration: none;
    background-color: #000;
    color: #fff;
}

.about-info-right a:hover {
    background: none;
    color: #000;
}

/* End about styling */

.service-title {
    text-align: center;
    padding: 50px;
}

.service-left {
    float: left;
    width: 50%;
    background: url(../img/service-1.jpg) no-repeat;
    background-size: cover;
    height: 350px;
    padding: 50px;
}

.service-left p {
    padding: 10px 0px;
}

.service-left .service-btn {
    margin-top: 10px;
    display: inline-block;
    border: 2px solid #000;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #000;
    color: #fff;
}

.service-left .service-btn:hover {
    background: none;
    color: #000;
}

.service-right {
    float: left;
    width: 50%;
    background: url(../img/service-2.jpg) no-repeat;
    background-size: cover;
    height: 350px;
    padding: 50px;
}

.service-right p {
    padding: 10px 0px;
}

.service-right .service-btn {
    margin-top: 10px;
    display: inline-block;
    border: 2px solid #000;
    background-color: #000;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
}

.service-right .service-btn:hover {
    background: none;
    color: #000;
}

/* End services styling */
